@import url(./assets/CSS/reset.css);
@import url(./assets/CSS/global.css);

/* Background e Menu */
body {
	background-color: var(--cor-primaria);
}

body::before {
	content: "";
	background-image: url(./assets/images/spider-man-background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.2;
}

.s-menu {
	padding: 1rem 0;
	width: 100%;
	text-align: center;
	position: relative;
}

.s-menu__item {
	display: inline-block;
	text-transform: uppercase;
	margin: 0 1.25rem;
}

.s-menu__icon {
	width: 40px;
	text-align: center;
	vertical-align: middle;
}

/* Cards */
.s-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.s-card {
	border: 0.5rem solid #fff;
	width: calc(100% / 3 - 8%);
	height: 70vh;
	position: relative;
}

.s-card__background {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	opacity: 1;
}

.s-card__image{
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: relative;
}

.s-card__title {
	position: absolute;
	text-transform: uppercase;
	text-align: center;
	font-size: 2rem;
	width: 100%;
	bottom: 0;
}