@import url(./assets/CSS/reset.css);
@import url(./assets/CSS/global.css);

body {
    background-color: var(--cor-primaria);
    
}

.s-menu {
    padding: 1rem 0;
    width: 100%;
    text-align: center;
}

.s-menu__item {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 1.25rem;
}

.s-menu__icon img {
    width: 40px;
    text-align: center;
}
