@import url('./reset.css');
@import url('./global.css');

/* Background e Menu */
body {
	background-color: var(--cor-primaria);
}

body::before {
	content: "";
	background-image: url("/assets/images/spider-man-background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.2;
	transition: 0.3s ease-in-out;
}

#spider-man-01-hovered::before {
	background-image: url("/assets/images/pic-sm-bg-01.jpg")
} 

#spider-man-02-hovered::before {
	background-image: url("/assets/images/pic-sm-bg-02.jpg")
} 

#spider-man-03-hovered::before {
	background-image: url("/assets/images/pic-sm-bg-03.jpg")
} 

body[id*="spider-man-"]::before {
	opacity: 1;
}

body[id*="spider-man-"] .s-card:not(.s-card--hovered) {
	filter: grayscale(100%);
}

.s-menu {
	padding: 1rem 0;
	width: 100%;
	text-align: center;
	position: relative;
}

.s-menu__item {
	display: inline-block;
	text-transform: uppercase;
	margin: 0 1.25rem;
}

.s-menu__item:hover {
	text-decoration: underline;
}

.s-menu__icon {
	width: 40px;
	text-align: center;
	vertical-align: middle;
}

/* Cards */

.s-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	perspective: 3000px;
}

.s-card {
	border: 0.5rem solid #fff;
	width: calc(100vw / 3 - 10%);
	height: 70vh;
	position: absolute;
}

.s-card__background {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	opacity: 1;
	transition: opacity .3s ease-in-out;
}

.s-card--hovered .s-card__background {
	cursor: pointer;
	opacity: 0.5;;
}

.s-card__image{
	width: 100%;
	height: 100%;
	object-fit: contain;
	position: relative;
	transition: .3s ease-in-out;
}

.s-card--hovered .s-card__image {
	transform: scale(1.3);
}

.s-card__title {
	position: absolute;
	text-transform: uppercase;
	text-align: center;
	font-size: 2rem;
	width: 100%;
	bottom: 0;
	transition: 0.5s ease-in-out;
}

.s-card--hovered .s-card__title {
	bottom: 50%;
	z-index: 1;
}

.s-cards-carrousel {
	display: flex;
	justify-content: center;
	width: calc(100vw / 3 - 10%);
	transform-style: preserve-3d;
	transition: transform 0.4s ease-in;
}

.s-card:nth-child(1) {
  transform: rotateY(0deg) translateZ(50vw);
}

.s-card:nth-child(2) {
  transform: rotateY(120deg) translateZ(50vw);
}

.s-card:nth-child(3) {
  transform: rotateY(240deg) translateZ(50vw);
}

/* Controlador */
.s-controller {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
	bottom: 1.5rem;
	width: 100%;
}

.s-controller__button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.5rem;
	height: 2.5rem;
	border: 2px solid #fff;
	border-radius: 50%;
	background-color: var(--cor-primaria);
	text-align: center;
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
	z-index: 1;
	transition: transform 0.3s ease-in-out;
}

.s-controller__button:hover {
	transform: scale(1.1);
}

.s-controller__button-active{
	background-color: #fff;
	color: var(--cor-primaria);
	font-weight: 500;
}

.s-controller__button:nth-child(2) {
	margin: 0 2rem;
}

.s-controller__line {
	background-color: #fff;
	width: 50%;
	height: 2px;
	position: absolute;
}
